.products {
  padding: 7.2rem 0 14rem;

  @include breakpoint-down($lg) {
    padding-top: 2.4rem;
    padding-bottom: 6.4rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 28rem 1fr;
    gap: 2.4rem;

    @include breakpoint-down($lg) {
      grid-template-columns: 100%;
    }
  }
  
  &__wrapper {
    overflow: hidden;
  }

  &__aside {
    @include breakpoint-down($lg) {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4.4rem;

    @include breakpoint-down($lg) {
      padding-bottom: 2.4rem;
    }
  }

  &__mobile-filter-trigger {
    display: none;

    @include breakpoint-down($lg) {
      display: block;
      height: 1.6rem;
      border: none;
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      background-color: $transp;
    }
  }

  &__count {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;

    @include breakpoint-down($lg) {
      display: none;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    height: 1.6rem;
    position: relative;
    border: none;
    padding: 0 1.4rem 0 0;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: $transp;

    &::after {
      content: "";
      top: calc(50% - .5rem);
      right: 0;
      width: 1rem;
      height: 1rem;
      position: absolute;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='-0.5 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L8.4641 3L1.5359 3L5 7.5Z' fill='%23202020'/%3E%3C/svg%3E%0A");
    }
  }
}