<button
  type="button"
  class="burger button-icon header__burger js-modal-trigger js-burger"
  data-modal-id="mobile-content-modal"
  data-target-id="mobile-menu"
>
  <svg class="icon" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="line _top" d="M12 17.76H36C42.2882 17.76 42.5 35 30.5 41C17.2034 47.6484 52.5 -4.50004 33.6 14.4L14.64 33.36" stroke="currentColor" stroke-width="2"/>
    <path class="line _middle" d="M36 24C36 24 15.9775 24 12.24 24C10.32 24 9.73705 21.36 10.08 18.96C10.4229 16.56 12.48 12.4801 14.4 14.4C17.3821 17.3821 33.6 33.6 33.6 33.6" stroke="currentColor" stroke-width="2"/>
    <path class="line _bottom" d="M36 30.24L11.5 30.2402C-0.500006 23.0001 10 11 12.5 9.00015C37.166 -10.7312 -9.50006 59.5002 14.4 33.6001L33.6 14.4001" stroke="currentColor" stroke-width="2"/>
  </svg>
</button>
